@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
}

.sidebar a {
    color: #ffffff;
}

.sidebar {
    background-color: #061e34;
    background-image: url("/img/pyramid.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 75%;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 50px;
    width: 200px;
    height: 100%;
    z-index: 10;
}

.sidebar header {
    border-bottom: 1px solid #05edfd;
    color: #b6c8dd;
    font-size: 12px;
    width: 100%;
}

.sidebar header,
.sidebar li {
    font-size: 14px;
    padding: 12px 0 12px 20px;
}

.sidebar ul a {
    color: #fff;
    display: block;
    height: 100%;
    width: 100%;
}
